.main {
  display: flex;
  flex-direction: column;
  gap: 9.65rem;
  max-width: 1046px;
  width: 100%;
  margin: 0 auto;
  margin-top: 9.5rem;

  @media (max-width: 768px) {
    margin: 5.9rem 1rem 0 1rem;
    gap: 3rem;
  }
}
