.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  border-bottom: 1px solid #000;
  padding-bottom: 19px;

  img {
    padding-top: 4px;
  }
}

.linkButtonWrapper {
  display: flex;
  align-items: center;
  gap: 6rem;

  button {
    border: 2px solid #ff685b;
    border-radius: 7px;
    padding: 7px 59px;
    color: var(--button-color);
    background: white;
    letter-spacing: 0.08em;
  }
}
